# Normalize EOL for all files that Git considers text files.
* text=auto eol=lf

# Ignore some files when exporting to a ZIP.
/.gitattributes     export-ignore
/.gitignore         export-ignore
.github/            export-ignore
assets/Sixtyfour-Regular-VariableFont_BLED !text !filter !merge !diff
SCAN.ttf !text !filter !merge !diff
assets/cursor_none.svg !text !filter !merge !diff
